<launch>
  <arg name="sim" default="false"/>

  <param name="robot_description" textfile="$(find so_arm_description)/urdf/so_arm.urdf"/>

  <node name="robot_state_pub" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
    <param name="publish_frequency" type="double" value="10.0"/>
  </node>

  <!-- node name="fake_joint_pub" pkg="so_arm_bringup" type="fake_joint_pub.py"/ -->


  <node name="arbotix" pkg="arbotix_python" type="arbotix_driver" output="screen">
    <rosparam file="$(find so_arm_bringup)/config/so_arm.yaml" command="load"/>
    <param name="port" value="/dev/ttyAMA0"/>
    <param name="sim" value="$(arg sim)"/>
  </node>

  <node name="gripper_controller" pkg="arbotix_controllers" type="gripper_controller" output="screen">
    <rosparam file="$(find so_arm_bringup)/config/so_gripper.yaml" command="load" />
  </node>

  <!-- node pkg="rviz" type="rviz" name="rviz"/ -->
</launch>
